<div class="card">
    <div class="row">
        <div class="col-md-3">
            <img class="card-img-top" src="assets/images/burger1.jpg" alt="Card image cap">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h4 class="card-title"></h4>
                <h6 class="card-subtitle mb-2 text-muted"></h6>
                <p class="card-text"></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-body">
                <p class="card-text">Username <span class="">Bewertung</span></p>
                <p class="card-text">Ort: <span>  </span></p>
                <p class="card-text"><span class="preis"></span>
                    <span class="">Portionen: </span></p>
                <button class="btn btn-primary bestellButton" data-id="@angebot.id">Bestellen</button>
            </div>
        </div>
    </div>
</div>