@main("CheapEat - Image Upload"){

    <script src="@routes.Assets.at("js/home.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/hbScript.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/authentication.js")" type="text/javascript"></script>

    @nav()
    @modals()

    <div class="container">
        <div class="content">
        @alerts()
        <h1>Login bestehender Benutzer</h1>

        <form id="login-form">
            <div class="form-group">
                <label for="email">Email Adresse</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email eingeben" required>
                <div class="invalid-feedback">
                    Korrekte Email Adresse angeben!
                </div>
            </div>
            <div class="form-group">
                <label for="passwort">Passwort</label>
                <input type="password" class="form-control" id="passwort" placeholder="Passwort" required>
                <div class="invalid-feedback">
                    Korrektes Passwort angeben!
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Anmelden</button>
        </form>

            <p>Noch kein Benutzer erstellt? <a href="/signup">Hier erstellen</a></p>

        </div>

    </div> <!-- /container -->
}