<!-- MODAL ANGEBOT ERSTELLEN -->

<div class="modal fade" id="angebotModal" tabindex="-1" role="dialog" aria-labelledby="angebotModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">CheapEat</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="angebotForm" enctype="multipart/form-data" novalidate> <!--  rouAngebotControllertion.getPerson() -->
            <div class="modal-body">
                <div class="container-angebot">
                    @alerts()
                    <h1>Angebot erstellen</h1>
                    <div class="panel panel-default">
                        <p>Achtung! Um ein Angebot zu erstellen must du eingeloggt sein</p>

                            <div class="form-group">
                                <label for="titel" >Titel: </label>
                                <input id="titel" type="text" placeholder="Mein Angebot" name="titel" class="form-control" required/>
                                <div class="invalid-feedback">
                                    Bitte gebe einen Titel für dein Angebot ein.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="beschreibung" >Beschreibung: </label>
                                <input id="beschreibung" type="text" placeholder="Beschreibung des Essens, Abholbedingungen" maxlength="255" name="beschreibung" class="form-control" required/>
                                <div class="invalid-feedback">
                                    Bitte gebe eine Beschreibung für dein Angebot ein.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="zeitForm" >Abholzeit: </label>
                                <input id="zeitForm" type="time" name="zeitForm" class="form-control" required/>
                                <div class="invalid-feedback">
                                    Bitte gebe eine korrekte Abholzeit für dein Angebot ein.
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="datum" >Abholdatum: </label>
                                <input id="datum" type="date" name="datum" class="form-control" required/>
                                <div class="invalid-feedback">
                                    Bitte gebe ein gültiges Datum für dein Angebot ein.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="kueche" >Küche: </label>
                                <input id="kueche" type="text" name="kueche" placeholder="italienisch" class="form-control" required/>
                                <div class="invalid-feedback">
                                    Bitte gebe eine Küche für dein Angebot ein.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="menge" >Anzahl zu verkaufende Portionen: </label>
                                <input id="menge" type="number" placeholder="1" name="menge" min="1" max="99" step="1" class="form-control" required/>
                            </div>
                            <div class="form-group">
                                <label for="preis" >Preis pro Portion: </label>
                                <div class="input-group">

                                    <span class="input-group-addon">CHF</span>
                                    <input id="preis" type="number" name="preis" min="0.10" step="0.10" max="99.90" class="form-control" required/>
                                </div>
                                <div class="invalid-feedback">
                                    Bitte gebe einen korrekten Preis ein.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="bilder">Bilder: </label>
                                <input class="form-control-file" id="bilder" type="file" name="bilder" accept="image/*" multiple>
                                <small class="form-text text-muted">Du kannst mehrere Bilder zu deinem Angebot hinzufügen um dein Essen zu zeigen. Die Bilder müssen im .jpeg Format vorliegen</small>
                            </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                <button id="angebotSubmit" type="submit" class="btn btn-primary">Angebot erstellen</button>
            </div>
            </form>


        </div>
    </div>
</div>

    <!-- MODAL ANGEBOT BESTELLEN -->

<div class="modal fade" id="bestellenModal" tabindex="-1" role="dialog" aria-labelledby="bestellenModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">CheapEat</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="bestellenForm" novalidate>
            <div class="modal-body">
                <div class="container-angebot">
                    @alerts()
                    <h1>Angebot bestellen</h1>
                    <div class="panel panel-default">
                            <div class="form-group">
                                <label for="email" >Menge </label>
                                <input id="bestellenMenge" type="number" name="menge" min="1" max="99" step="1" class="form-control" required/>
                                <div class="invalid-feedback">
                                    Gib eine korrekte Bestellmenge an!
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                <button id="bestellenSubmit" type="submit" class="btn btn-primary" data-id="">Bestellen!</button>
            </div>
            </form>
        </div>
    </div>
</div>

    <!-- MODAL BEWERTUNG ABGEBEN -->

<div class="modal fade" id="bewertungModal" tabindex="-1" role="dialog" aria-labelledby="bewertungModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">CheapEat - Bewertung</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-angebot">
                    @alerts()
                <h1>Bewertung abgeben</h1>
                <p>Bewertung von 1 - 5 für diesen Benutzer abgeben</p>
                <div class="panel panel-default btn-bewertungen">
                    <button class="btn btn-secondary" id="btn-bewertung-1" data-token="0">1</button>
                    <button class="btn btn-secondary" id="btn-bewertung-2" data-token="0">2</button>
                    <button class="btn btn-secondary" id="btn-bewertung-3" data-token="0">3</button>
                    <button class="btn btn-secondary" id="btn-bewertung-4" data-token="0">4</button>
                    <button class="btn btn-secondary" id="btn-bewertung-5" data-token="0">5</button>
                </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
            </div>
        </div>
    </div>
</div>

    <!-- MODAL LADEBALKEN -->

<div class="modal hide" id="modal-wait" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-content">
        <div class="modal-header">
            <h1>Laden...</h1>
        </div>
        <div class="modal-body">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
            </div>
        </div>
    </div>
</div>