<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <img id="img-logo" src="/assets/images/logo.png">
    </div>
</div>

<nav class="navbar navbar-expand-md sticky-top navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">CheapEat</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
            <form class="form-inline my-2 my-lg-0">
                <button type="button" id="callModal" class="btn " data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-plus" aria-hidden="true"></i> Angebot
                </button>
            </form>

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link nav-icon" href="/profile" ><i class="fa fa-user " aria-hidden="true"></i></a>
                </li>
            </ul>


            <form id="suche" class="form-inline my-2 my-lg-0" action="/search">
                <input class="form-control mr-sm-2" id="fieldPlz" type="text" name="plz" placeholder="PLZ" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>


        </div>
    </div>
</nav>