@main("CheapEat - Home") {


    <script src="@routes.Assets.at("js/home.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/hbScript.js")" type="text/javascript"></script>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <img id="img-logo" src="/assets/images/logo.png">
        </div>
    </div>

    <nav class="navbar navbar-expand-md sticky-top navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">CheapEat</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
                <form class="form-inline my-2 my-lg-0">
                    <button type="button" id="callModal" class="btn" data-toggle="modal" data-target="#exampleModal">
                        Angebot erstellen!
                    </button>
                </form>
                <form id="suche" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" id="fieldPlz" type="text" name="plz" placeholder="PLZ" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" action="/search" formmethod="get"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
    </nav>

    @modals()


    <div class="content">
        <div class="container">
            <h1>Angebote</h1>
            <ul id="angebote"></ul>
            <div class="cards-items" id="angebote-cards">

                <script id="angebote-template" type="text/x-handlebars-template">

                    <div class="card">
                        <div class="row">
                            <div class="col-md-3">
                                <img class="card-img-top" src="assets/images/burger1.jpg" alt="Card image cap">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h4 class="card-title"> {{titel}} </h4>
                                    <h6 class="card-subtitle mb-2 text-muted"> {{kueche}} </h6>
                                    <p class="card-text"> {{beschreibung}} </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-body">
                                    <p class="card-text">Username <span class="">Bewertung</span></p>
                                    <p class="card-text">Ort: <span> {{plz}} </span> </p>
                                    <p class="card-text"><span class="preis">{{preis}} CHF</span>
                                    <span class="">Portionen: {{menge}}</span></p>
                                    <button class="btn btn-primary bestellButton" data-id="{{id}}">Bestellen</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </script>


            </div>
        </div>
    </div>




}