nav.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.jumbotron {
    margin-bottom: 0px;
    background-color: rgba(54, 162, 11, 0.53) !important;
}

.card{
    margin: 20px 20px 20px 0px ;
    padding: 15px;
}
#angebotModal{
    z-index: 2000;
}
.preis{

}